@import '../../../styles/corePallete.scss';

.ctrlGroup {
    position: relative;
    width: 100%;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .buttons{
        display: flex;
        flex-direction: row;
    }
}

.ptBtn{
    margin-left: 10px;
    margin-right: 10px;
}

.label{
    top: 50px;
    text-align: center;
    font-size: .6em;
    text-transform: uppercase;
}
