@import '../../styles/corePallete.scss';

.landing-page{
    background-color: $orange;
    width: 100vw;
    height: 100vh;
    color: $cream;
    top: 0;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}