@import './corePallete.scss';

.ctrlGroup {
    position: relative;
    background-color: $aqua;
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.grpItem{
    top: 50px;
}