@import '../../../../styles/corePallete.scss';
.name-container {
    display: flex;
    padding: 10px;

    .textbox {
        border: none;
        border-bottom-style: solid;
        border-width: 1px;
        width: 100%;
        display: flex;
        font-size: 1em;
        font-weight: bold;
        border-color: lightcoral;
        margin: 5px;
        text-overflow: ellipsis;
        background-color: transparent;
        color: $oxford-blue;
    }

    label {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        width: 160px;
        font-size: 0.8em;
    }
}