@import '../../styles/corePallete.scss';

.varients-container{
    
    background-color: $tan;
    top: 0;
    left: 0px;
    padding: 20px;
    width: calc(100vw - 40px);
    min-height: 100vh;
    position: absolute;
    color: $midnight-blue;

    section {
        .list-wrapper {
            background-color:darken($color: $tan, $amount: 10);
            padding: 5px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            ul {
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }

            button {
                background-color: $orange;
                color: $cream;
                width: 50vw;
                max-width: 400px;
                height: 40px;
                text-transform: uppercase;
                margin: 10px;
                border: 1px solid $cream;
                border-radius: 5px;
                align-self: flex-end;
                transition: .2s ease-in-out;

                &:hover {
                    background-color: darken($color: $orange, $amount: 10);
                }
            }

            
        }
    }
    
    .menu-container {
        display: flex;
        flex-direction: row-reverse;

        .menu-btn {
        right: 10px;
        top: 10px;
        position: relative;
            svg{
                fill: $orange;
            }
        }

    }

}