@import '../../../../styles/corePallete.scss';

.ptBtn{
    background-color: $orange;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: solid 1px $cream;
    font-size: 1em;
    color: $cream;
    font-weight: 800;
}